*{
    margin : 0;
    padding : 0;
    font-family: 'poppins',sans-serif;
}

#App {
    width: 100%;
    min-height: 100vh;
    background: url('/public/background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}