:root {
  --main-color: #64ffda;
  --white: #ccd6f6;
  --grey: #8892b0;
  --navy-blue: #0a192f;
  --calibri: Calibri, sans-serif;
  --bold: 600;
  --light: 500;
  --mobile-bold : 500;
  --mobile-light : 300;
  --mono-space: "SF Mono", monospace;
  --navbar-height : 80px;
  --diff-from-nav : 10px;
  --nav-mobile-diff : 30px;
}

* {
  background-color: var(--navy-blue);
}

body {
  overflow-x: hidden;
}

#toggler {
  border-color: var(--main-color) !important;
}

@media screen and (min-width: 1200px) {

  html {
    font-size: 20px;
  }

  .navbar-container {
    min-height: var(--navbar-height);
    padding-left: 30px;
    padding-right: 30px;
  }

  #toggler {
    color: var(--main-color) !important;
  }

  .home-container {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dark-big-heading {
    color: var(--white);
    font-size: 4.5rem;
    font-weight: var(--bold);
    line-height: 4rem;
    font-family: var(--calibri);
  }

  .light-big-heading {
    color: var(--grey);
    font-size: 3rem;
    font-weight: var(--bold);
    line-height: 2.5rem;
    font-family: var(--calibri);
  }

  .paragraph {
    color: var(--grey);
    font-size: 1rem;
    margin-top: 1.6rem;
    line-height: 1.4rem;
    font-family: var(--calibri);
    max-width: 800px;
  }

  .mini-heading {
    font-family: var(--mono-space);
    color: var(--main-color);
  }

  h4.mini-heading {
    font-size: 1.3rem;
  }

  ul.mini-heading {
    font-size: 1rem;
  }

  .navbar .navbar-brand {
    font-family: var(--calibri);
    font-size: 2rem;
    font-weight: var(--bold);
    color: var(--main-color);
  }

  .navbar .nav-link {
    text-decoration: none;
    color: var(--white);
    margin-left: 1rem;
    font-size: 0.9rem;
    font-family: var(--mono-space);
    border-bottom: 1px solid var(--main-color);
  }

  i.bi {
    color: var(--main-color);
    margin: 5px;
    font-size: 2rem;
  }

  #navbar {
    opacity: 0.98;
  }

  hr {
    color: var(--main-color);
  }

  .navbar .nav-link:hover {
    background-color: var(--main-color);
  }

  .sub-heading {
    color: var(--grey);
    font-size: 2rem;
    font-weight: var(--bold);
    line-height: 2rem;
    font-family: var(--calibri);
  }

  .about-container {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: calc(var(--navbar-height) + var(--diff-from-nav));
    color: var(--grey);
    min-height: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-placement {
    flex-direction: row;
  }

  .about-container img {
    width: 300px;
    height: 380px;
    margin-left: 40px;
  }

  .about-container img:hover {
    transform: scale(1.1);
  }

  .experience-container {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: calc(var(--navbar-height) + var(--diff-from-nav));
    min-height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .tab-head {
    max-width: 200px;
    margin-right: 20px;
    font-weight: var(--light);
    text-decoration: none;
    font-family: var(--mono-space);
    color: var(--main-color);
  }

  .nav-pills .nav-link {
    color: var(--main-color);
  }

  .nav-pills .nav-link.active,
  .nav-pills .nav-link:hover {
    background-color: var(--main-color);
    color: var(--navy-blue);
  }

  .tab-desc {
    color: var(--grey);
    font-size: 1rem;
    font-weight: var(--light);
    font-family: var(--calibri);
    line-height: 0.7rem;
    width: 500px;
  }

  .tab-desc .company-name {
    color: var(--main-color);
    text-decoration: none;
  }

  .tab-desc .period {
    font-size: 0.75rem;
    font-family: var(--mono-space);
  }

  .tab-desc .responsibilities {
    font-size: 0.9rem;
    font-family: var(--calibri);
    line-height: 1.17rem;
  }

  .contact-container {
    min-height: 800px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width : 1199px) { 

  html {
    font-size: 20px;
  }

  .navbar-container {
    min-height: var(--navbar-height);
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .home-container {
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dark-big-heading {
    color: var(--white);
    font-size: 4.5rem;
    font-weight: var(--bold);
    line-height: 4rem;
    font-family: var(--calibri);
  }

  .light-big-heading {
    color: var(--grey);
    font-size: 3rem;
    font-weight: var(--bold);
    line-height: 2.5rem;
    font-family: var(--calibri);
  }

  .paragraph {
    color: var(--grey);
    font-size: 1rem;
    margin-top: 1.6rem;
    line-height: 1.4rem;
    font-family: var(--calibri);
    max-width: 600px;
  }

  .mini-heading {
    font-family: var(--mono-space);
    color: var(--main-color);
  }

  h4.mini-heading {
    font-size: 1.3rem;
  }

  ul.mini-heading {
    font-size: 1rem;
  }

  .navbar .navbar-brand {
    font-family: var(--calibri);
    font-size: 2rem;
    font-weight: var(--bold);
    color: var(--main-color);
  }

  .navbar .nav-link {
    text-decoration: none;
    color: var(--white);
    margin-left: 1rem;
    font-size: 0.9rem;
    font-family: var(--mono-space);
    border-bottom: 1px solid var(--main-color);
  }

  i.bi {
    color: var(--main-color);
    margin: 5px;
    font-size: 2rem;
  }

  #navbar {
    opacity: 0.98;
  }

  hr {
    color: var(--main-color);
  }

  .navbar .nav-link:hover {
    background-color: var(--main-color);
  }

  .sub-heading {
    color: var(--grey);
    font-size: 2rem;
    font-weight: var(--bold);
    line-height: 2rem;
    font-family: var(--calibri);
  }

  .about-container {
    padding-top: calc(var(--navbar-height) + var(--diff-from-nav));
    color: var(--grey);
    min-height: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-placement {
    flex-direction: column;
  }

  .about-container img {
    width: 300px;
    height: 380px;
    margin-left: 40px;
  }

  .about-container img:hover {
    transform: scale(1.1);
  }

  .experience-container {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: calc(var(--navbar-height) + var(--diff-from-nav));
    min-height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .tab-head {
    max-width: 200px;
    margin-right: 20px;
    font-weight: var(--light);
    text-decoration: none;
    font-family: var(--mono-space);
    color: var(--main-color);
  }

  .nav-pills .nav-link {
    color: var(--main-color);
  }

  .nav-pills .nav-link.active,
  .nav-pills .nav-link:hover {
    background-color: var(--main-color);
    color: var(--navy-blue);
  }

  .tab-desc {
    color: var(--grey);
    font-size: 1rem;
    font-weight: var(--light);
    font-family: var(--calibri);
    line-height: 0.7rem;
    width: 500px;
  }

  .tab-desc .company-name {
    color: var(--main-color);
    text-decoration: none;
  }

  .tab-desc .period {
    font-size: 0.75rem;
    font-family: var(--mono-space);
  }

  .tab-desc .responsibilities {
    font-size: 0.9rem;
    font-family: Calibri, sans-serif;
    line-height: 1.17rem;
  }

  .contact-container {
    min-height: 800px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width : 991px) {

  html {
    font-size: 12px;
  }

  .navbar-container {
    min-height: calc(var(--navbar-height) - var(--nav-mobile-diff));
    padding-left: 20px;
    padding-right: 20px;
  }

  #toggler {
    color: var(--main-color) !important;
  }

  .home-container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .dark-big-heading {
    color: var(--white);
    font-size: 3rem;
    font-weight: var(--bold);
    line-height: 3.5rem;
    font-family: var(--calibri);
  }

  .light-big-heading {
    color: var(--grey);
    font-size: 2rem;
    font-weight: var(--bold);
    line-height: 2rem;
    font-family: var(--calibri);
  }

  .paragraph {
    color: var(--grey);
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: var(--mobile-light);
    font-family: var(--calibri);
  }

  .mini-heading {
    font-family: var(--mono-space);
    color: var(--main-color);
  }

  h4.mini-heading {
    font-size: 1.3rem;
  }

  .navbar .navbar-brand {
    font-family: var(--calibri);
    font-size: 2rem;
    font-weight: var(--mobile-bold);
    color: var(--main-color);
  }

  .navbar .nav-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    font-family: var(--mono-space);
    border-bottom: 1px solid var(--main-color);
  }

  #navbar {
    opacity: 0.98;
  }

  .navbar .nav-link:hover {
    background-color: var(--main-color);
  }

  .sub-heading {
    color: var(--grey);
    font-size: 2rem;
    font-weight: var(--bold);
    line-height: 2rem;
    font-family: var(--calibri);
  }

  .about-container {
    padding-top: calc(var(--navbar-height) - var(--nav-mobile-diff) + var(--nav-mobile-diff));
    padding-left: 20px;
    padding-right: 20px;
    color: var(--grey);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  hr {
    color: var(--main-color);
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-placement {
    flex-direction: column;
  }

  .about-container img {
    width: 200px;
    height: 260px;
    margin-top: 20px;
  }

  ul.mini-heading {
    font-size: 1.1rem;
  }

  i.bi {
    color: var(--main-color);
    margin: 5px;
    font-size: 2rem;
  }

  .experience-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: calc(var(--navbar-height) + var(--diff-from-nav));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .tab-head {
    max-width: 50px;
    margin-right: 10px;
    font-weight: var(--mobile-light);
    text-decoration: none;
    font-family: var(--mono-space);
    color: var(--main-color);
    font-size: 1.4rem;
  }

  .nav-pills .nav-link {
    color: var(--main-color);
  }

  .nav-pills .nav-link.active,
  .nav-pills .nav-link:hover {
    background-color: var(--main-color);
    color: var(--navy-blue);
  }

  .tab-desc {
    color: var(--grey);
    font-size: 1.4rem;
    font-weight: var(--mobile-light);
    font-family: var(--calibri);
    line-height: 1.6rem;
  }

  .tab-desc .company-name {
    color: var(--main-color);
    text-decoration: none;
  }

  .tab-desc .period {
    font-size: 1.1rem;
    font-family: var(--mono-space);
  }

  .tab-desc .responsibilities {
    font-size: 1.3rem;
    font-family: var(--calibri);
    line-height: 1.6rem;
  }

  .contact-container {
    padding-top: calc(var(--navbar-height) + var(--diff-from-nav));
    padding-bottom: calc(var(--navbar-height) + var(--diff-from-nav));
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}